<!-- wp:template-part {"slug":"header","theme":"mine-educn","tagName":""} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"align":"full","className":"medu-main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull medu-main" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
	<!-- wp:pattern {"slug":"mine-educn/carousel-banner"} /-->
	<!-- wp:pattern {"slug":"mine-educn/why-choose-us"} /-->
	<!-- wp:pattern {"slug":"mine-educn/ready-to-learn"} /-->
	<!-- wp:pattern {"slug":"mine-educn/faq-toggle"} /-->
	<!-- wp:pattern {"slug":"mine-educn/hero-banner-1"} /-->
	<!-- wp:pattern {"slug":"mine-educn/trainees-say"} /-->
	<!-- wp:pattern {"slug":"mine-educn/contact-us"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"mine-educn","tagName":"","className":"tw-my-0"} /-->