<!-- wp:template-part {"slug":"header","theme":"mine-educn","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"align":"full","className":"medu-main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull medu-main" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":30,"customOverlayColor":"#FFF","isUserOverlayColor":true,"minHeight":360,"minHeightUnit":"px","isDark":false,"align":"center","className":"mcv-course-cover","layout":{"type":"constrained"}} -->
<div class="wp-block-cover aligncenter is-light mcv-course-cover" style="min-height:360px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"30%"} -->
<div class="wp-block-column" style="flex-basis:30%"><!-- wp:post-featured-image {"aspectRatio":"16/9","sizeSlug":"full","className":"course-cover"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"70%"} -->
<div class="wp-block-column" style="flex-basis:70%"><!-- wp:post-title {"level":1,"fontSize":"large"} /-->

<!-- wp:post-terms {"className":"course-categories"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"mcv/course-lesson-count"}}},"className":"course-meta-item course-meta-lessons"} -->
<p class="course-meta-item course-meta-lessons"></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"mcv/course-duration"}}},"className":"course-meta-item course-meta-hours"} -->
<p class="course-meta-item course-meta-hours"></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"mcv/course-enrolled"}}},"className":"course-meta-item course-meta-students"} -->
<p class="course-meta-item course-meta-students"></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"mcv/course-update-date"}}},"className":"course-meta-item course-meta-update-date"} -->
<p class="course-meta-item course-meta-update-date"></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"mcv/course-difficulty"}}},"className":"course-meta-item course-meta-difficulty"} -->
<p class="course-meta-item course-meta-difficulty"></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"mcv/course-period"}}},"className":"course-meta-item course-meta-period"} -->
<p class="course-meta-item course-meta-period"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"mcv/course-price"}}},"className":"course-price","style":{"elements":{"link":{"color":{"text":"var:preset|color|main-1"}}}},"textColor":"main-1","fontSize":"large"} -->
<p class="course-price has-main-1-color has-text-color has-link-color has-large-font-size"></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"mcv/course-vip"}}},"className":"course-vip-tip","fontSize":"small"} -->
<p class="course-vip-tip has-small-font-size"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:button {"placeholder":"立即购买","backgroundColor":"main-1","metadata":{"bindings":{"url":{"source":"mcv/buy-url"},"text":{"source":"mcv/buy-text"}}},"className":"course-buy-button"} -->
<div class="wp-block-button course-buy-button"><a class="wp-block-button__link has-main-1-background-color has-background wp-element-button"></a></div>
<!-- /wp:button --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns {"align":"wide","className":"course-content-columns"} -->
<div class="wp-block-columns alignwide course-content-columns"><!-- wp:column {"width":"65%","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"border":{"radius":{"topLeft":"6px","topRight":"6px","bottomLeft":"6px","bottomRight":"6px"}},"shadow":"var:preset|shadow|natural"},"backgroundColor":"background"} -->
<div class="wp-block-column has-background-background-color has-background" style="border-top-left-radius:6px;border-top-right-radius:6px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40);box-shadow:var(--wp--preset--shadow--natural);flex-basis:65%"><!-- wp:paragraph {"style":{"border":{"radius":{"topLeft":"4px","topRight":"4px","bottomLeft":"4px","bottomRight":"4px"},"top":{"width":"0px","style":"none"},"right":{"width":"0px","style":"none"},"bottom":{"width":"0px","style":"none"},"left":{"color":"var:preset|color|main-2","width":"4px"}},"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"fontSize":"large"} -->
<p class="has-large-font-size" style="border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-style:none;border-bottom-width:0px;border-left-color:var(--wp--preset--color--main-2);border-left-width:4px;padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><strong>课程详情</strong></p>
<!-- /wp:paragraph -->

<!-- wp:post-content {"className":"course-description","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"35%","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"border":{"radius":{"topLeft":"6px","topRight":"6px","bottomLeft":"6px","bottomRight":"6px"}},"shadow":"var:preset|shadow|natural"},"backgroundColor":"background"} -->
<div class="wp-block-column has-background-background-color has-background" style="border-top-left-radius:6px;border-top-right-radius:6px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40);box-shadow:var(--wp--preset--shadow--natural);flex-basis:35%"><!-- wp:paragraph {"style":{"border":{"radius":{"topLeft":"4px","topRight":"4px","bottomLeft":"4px","bottomRight":"4px"},"top":{"width":"0px","style":"none"},"right":{"width":"0px","style":"none"},"bottom":{"width":"0px","style":"none"},"left":{"color":"var:preset|color|main-2","width":"4px"}},"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"fontSize":"large"} -->
<p class="has-large-font-size" style="border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-style:none;border-bottom-width:0px;border-left-color:var(--wp--preset--color--main-2);border-left-width:4px;padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><strong>课程目录</strong></p>
<!-- /wp:paragraph -->

<!-- wp:mine-cloudvod/course-chapters /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":17,"query":{"perPage":3,"pages":0,"offset":0,"postType":"mcv_course","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":""},"metadata":{"categories":["posts"],"patternName":"core/query-medium-posts","name":"图片在左"},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:paragraph {"align":"left","style":{"border":{"radius":{"topLeft":"4px","topRight":"4px","bottomLeft":"4px","bottomRight":"4px"},"top":{"width":"0px","style":"none"},"right":{"width":"0px","style":"none"},"bottom":{"width":"0px","style":"none"},"left":{"color":"var:preset|color|main-2","width":"4px"}},"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"fontSize":"large"} -->
<p class="has-text-align-left has-large-font-size" style="border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-style:none;border-bottom-width:0px;border-left-color:var(--wp--preset--color--main-2);border-left-width:4px;padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><strong>推荐课程</strong></p>
<!-- /wp:paragraph -->

<!-- wp:post-template -->
<!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}}} -->
<div class="wp-block-columns alignwide" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:column {"width":"20%"} -->
<div class="wp-block-column" style="flex-basis:20%"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"","sizeSlug":"full","style":{"border":{"radius":{"topLeft":"6px","topRight":"6px","bottomLeft":"6px","bottomRight":"6px"}}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"80%"} -->
<div class="wp-block-column" style="flex-basis:80%"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"medium"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"mcv/course-price"}}},"className":"course-price"} -->
<p class="course-price"></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"mcv/course-enrolled"}}},"className":"course-meta-item course-meta-students"} -->
<p class="course-meta-item course-meta-students"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"mine-educn","tagName":"","className":"tw-my-0"} /-->